<fieldset>
	<h4>Servidor</h4>
	<input type="hidden" ng-if="server_id != undefined" ng-model="form.Server._id"> 
	<div class="form-group">
		<div class="input text">
			<label class="col-sm-3 control-label" for="RequestHasServerIpAddress">Dirección IP</label>
			<div class="col-sm-9">
				<input type="text" maxlength="16" class="form-control" ng-model="form.Server.ip_address"> 
			</div>
		</div>
	</div><!-- .form-group -->
	<div class="form-group">
		<div class="input text">
			<label class="col-sm-3 control-label" for="RequestHasServerHostname">Hostname</label>
			<div class="col-sm-9">
				<input type="text" maxlength="150" class="form-control" ng-model="form.Server.hostname">
			</div>
		</div>
	</div><!-- .form-group -->
	<div class="form-group">
		<div class="input text">
			<label class="col-sm-3 control-label" for="RequestHasServerElementName">Categoria de Elemento</label>
			<div class="col-sm-9">
				<input type="text" maxlength="150" class="form-control" ng-model="form.Server.element_name">
			</div>
		</div>	
	</div><!-- .form-group -->
	<div class="form-group">
		<div class="input text">
			<label class="col-sm-3 control-label" for="RequestHasServerPhysicalLocation">Ubicación Física</label>
			<div class="col-sm-9">
				<input type="text" maxlength="50" class="form-control" ng-model="form.Server.physical_location">
			</div>
		</div>
	</div><!-- .form-group -->
	
	<div class="form-group">
		<div class="input select">
			<label class="col-sm-3 control-label" for="RequestHasServerOperativeSystemTypeId">Sistema Operativo</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="form.Server.operative_system" ng-change="updateOSCombos();">
					<option value="">-- Seleccione una opción --</option>
					<option ng-repeat="(key, value) in operativeSystems" value="{{key}}">{{key}}</option>
				</select>
			</div>
		</div>
	</div><!-- .form-group -->

	<div class="form-group" ng-if="distributions != undefined">
		<div class="input select">
			<label class="col-sm-3 control-label" for="RequestHasServerOperativeSystemDistroId">Distribución del Sistema Operativo</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="form.Server.distribution" ng-change="updateOSCombos();">
					<option value="">-- Seleccione una opción --</option>
					<option ng-repeat="(key, value) in distributions" value="{{key}}">{{key}}</option>
				</select>
			</div>
		</div>
	</div><!-- .form-group -->		
	<div class="form-group" ng-if="versions != undefined">
		<div class="input select">
			<label class="col-sm-3 control-label" for="RequestHasServerOperativeSystemVersionId">Versión del Sistema Operativo</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="form.Server.os_version">
					<option value="">-- Seleccione una opción --</option>
					<option ng-repeat="(key, value) in versions" value="{{value}}">{{value}}</option>
				</select>
			</div>
		</div>
	</div><!-- .form-group -->
	<div class="form-group">
		<div class="input select">
			<label class="col-sm-3 control-label" for="RequestHasServerEnvironmentId">Ambiente Final</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="form.Server.environment">
					<option value="">-- Seleccione una opción --</option>
					<option value="Produccion">Produccion</option>
					<option value="Preproduccion">Preproduccion</option>
					<option value="Desarrollo">Desarrollo</option>
				</select>
			</div>
		</div>
	</div><!-- .form-group -->
</fieldset>