<fieldset>
	<div class="table-responsive">
		<div style="display:table; width:100%; margin-bottom:3px;">
			<div style="display:table-cell; "><h4>SSH / FTP / RDP</h4></div>
			<div style="display:table-cell; vertical-align:right; text-align:right">
				<button class="btn btn-large btn-success" type="button" ng-click="addNewUser()">
					<span class="fa fa-plus fa-fw"></span>Add
				</button>
			</div>
		</div>
		<table id="soUserTable" cellpadding="0" cellspacing="0" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Type</th>
					<th>Port</th>
					<th>Username</th>
					<th>Password</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in form.Server.Users">
					<td>
						<div class="input select">
							<select class="form-control so-type" ng-model="user.access_type" ng-change="updatePort({{$index}})">
								<option value="">-- Seleccione una opción --</option>
								<option ng-repeat="access_type in access_types" value="{{access_type}}">{{access_type}}</option>
							</select>
						</div>
					</td>
					<td>
						<div class="input text">
							<input type="text" maxlength="6" placeholder="Puerto" style="width: 80px" class="form-control" ng-model="user.port">
						</div>
					</td>
					<td>
						<div class="input text">
							<input type="text" maxlength="100" placeholder="Nombre de usuario" style="width: 180px" class="form-control" ng-model="user.username">
						</div>
					</td>
					<td>
						<div class="input password">
							<div class="input-group">
								<input type="password" placeholder="Contraseña" style="width: 180px" class="form-control password" ng-model="user.password">
								<span class="input-group-addon">
									<i class="see-passwd fa fa-eye fa-fw" style="cursor: pointer;"></i>
								</span>
							</div>
							<script type="text/javascript">
								$('.see-passwd:last')
									.css('cursor', 'pointer')
									.hover(
										function (){ 
											$(this).parents('div.input-group:first').find('input:first')
												.attr('type', 'text')
										}, 
										function (){
											$(this).parents('div.input-group:first').find('input:first')
												.attr('type', 'password')
										}
									);
							</script>
						</div>
					</td>
					<td style="text-align: center; vertical-align:middle;" class="actions">
						<button type="button" class="btn btn-danger btn-xs" ng-click="removeUser('{{user.$$hashKey}}')">
							<span class="fa fa-trash-o fa-lg"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</fieldset>
