<div id="page-container" class="row">	
	<div id="page-content" class="col-sm-12">
		<div class="requestHasServers form">
			<form accept-charset="utf-8" method="post" class="form-horizontal" role="form" id="RequestHasServerForm">
				<div style="display:none;"><input type="hidden" value="POST" name="_method"></div>
				<input type="hidden" ng-if="server_id != undefined" ng-model="form.Server._id"> 
				<p>Are you sure that you want to delete the next server?</p>
				<ul>
					<li><strong>Server: </strong>{{form.Server.ip_address}}</li>
					<li><strong>Hostname: </strong>{{form.Server.hostname}}</li>
				<ul>
			</form>
		</div><!-- /.form -->
	</div><!-- /#page-content .col-sm-9 -->
</div><!-- /#page-container .row-fluid -->