<div id="page-container" class="row">	
	<div id="page-content" class="col-sm-12">
		<!-- <h3><?php echo __d('app', 'Server Information'); ?></h3> -->
		<div class="requestHasServers form">
			<form accept-charset="utf-8" method="post" class="form-horizontal" role="form" id="RequestHasServerForm" ng-submit="modifyServer()">
				<div style="display:none;"><input type="hidden" value="POST" name="_method"></div>
				<div id="server-tabs">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#tabs-so" aria-controls="tabs-so" role="tab" data-toggle="tab">General Data</a></li>
						<li role="presentation"><a href="#tabs-so_users" aria-controls="tabs-so_users" role="tab" data-toggle="tab">Server Access</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<!-- Operative System - General Information -->
						<div role="tabpanel" class="tab-pane active" id="tabs-so" ng-include="'views/partials/request/server/so-general.html'">
						</div>
						<!-- Operative system users -->
						<div role="tabpanel" class="tab-pane" id="tabs-so_users"  ng-include="'views/partials/request/server/so-users.html'">
						</div>
					</div>
				</div>
			<!--
				<?php echo $this->Form->submit(__('Submit'), array('class' => 'btn btn-large btn-primary', 'div' => array('style' => 'text-align:right; margin-top:15px'))); ?>
			-->
			</form>
		</div><!-- /.form -->
	</div><!-- /#page-content .col-sm-9 -->
</div><!-- /#page-container .row-fluid -->

<script>
	$(function() {
		$('#server-tabs a').click(function (e) {
		  e.preventDefault();
		});
	});
</script>