<h2>Solicitud de requerimiento</h2>
<ol class="breadcrumb">
	<li><a class="action-index" href="#/requests">Requerimientos</a></li>
	<li class="active">{{currentCaptureStepLabel}}</li>
</ol>
<input type="hidden" id="captureStep" ng-model="capture_step" value="{{capture_step}}">
<div class="fuelux">
	<div class="wizard" data-initialize="wizard" id="myWizard">
		
		<!-- Top Menu -->
		<div class="steps-container">
			<ul class="steps"> <!-- style="margin-left: -268px" -->
				<li data-step="{{slug}}" 
					ng-repeat="(slug, step) in completedSteps" 
					ng-class="{active: step.current, complete: !step.current}" 
					ng-click="redirectToStep('{{step.href}}');"
				>
					<span 
						class="badge" 
						ng-class="{'badge-info': step.current, 'badge-success': step.status == 'Completed'}"
					>
						{{$index+1}}
					</span>
					{{step.label}}
					<span class="chevron"></span>
					<script ng-if="$last"  type="text/javascript">
						$( document ).ready(function() {
							width = 0;
							var scope = angular.element($("#captureStep")).scope();
							$('.steps li').each(function( index )
							{
								if(!($(this).attr('data-step') == '{{slug}}'))
								{
									width += $(this).width();

									if ($(this).attr('data-step') == scope.capture_step)
									{
										return false;
									}
								}
							});

							//if(width > ($('.steps-container').width() - $('#myWizard div.actions:first').width()))
							if(width > 750)
							{
								width = (
									($('.steps-container').width() - width) 
									+ $('#myWizard div.actions:first').width()
								)*(-1);

								$('.steps').css('margin-left', width + 'px');
							}
						});
					</script>

				</li>
			</ul>
		</div>
		
		<!-- Steps' flow -->
		<div class="actions">
			<button class="btn btn-default btn-prev" ng-if="stepsFlow.previous != undefined" ng-click="redirectToStep('{{stepsFlow.previous}}');">
				<span class="glyphicon glyphicon-arrow-left"></span>Anterior
			</button>
			<button data-last="Complete" class="btn btn-default btn-next" ng-if="stepsFlow.next != undefined" ng-click="redirectToStep('{{stepsFlow.next}}');">Siguiente
				<span class="glyphicon glyphicon-arrow-right"></span>
			</button>
		</div>
		
		<!-- Wizard's content -->
		<div class="step-content">
			<div 
				class="step-pane sample-pane alert" 
				ng-class="{active: step.current}"
				data-step="{{slug}}" 
				ng-repeat="(slug, step) in completedSteps"
				ng-if="slug == capture_step"
			>
				<div style="display:table; width:100%; margin-bottom:3px;">
					<div style="display:table-cell;">
						<h4 class="subtitle" style="color: #008ad0 !important;">{{currentCaptureStepLabel}}</h4>
					</div>
					<div style="display:table-cell; vertical-align:right; text-align:right" ng-if="addButton.action != undefined">
						<button class="add-server btn btn-large btn-success" type="button" ng-click="{{addButton.action}}"><span class="fa fa-plus fa-fw"></span>Agregar</button>
					</div>
				</div>
				
				<div class="customerRequests form">
					<form accept-charset="utf-8" method="post" enctype="multipart/form-data" class="form-horizontal" id="CustomerRequestForm" role="form" ng-submit="modifyRequest()">
						<div style="display:none;"><input type="hidden" value="POST" name="_method"></div>
						<fieldset ng-include="step.target">&nbsp;</fieldset>
						<div class="submit-buttons" ng-include="'views/partials/request/submit_buttons.html'" style="display:table">&nbsp;</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$( document ).ready(function() { });
	</script>
</div>

