<div style="display:table; width:100%; margin-bottom:3px;">
	<div style="display:table-cell; "><h2>Requerimientos</h2></div>
	<div style="display:table-cell; vertical-align:right; text-align:right">
		<div class="actions">
			<a class="btn btn-success" href="#/new-request"><i class="fa fa-plus"></i> Solicitar requerimiento</a>				
		</div><!-- /.actions -->
	</div>
</div>
<div data-example-id="striped-table" class="bs-example">
	<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0"> 
		<thead> 
			<tr>
				<th>ID Remedy</th>
				<th>Nombre del sistema</th>
				<th>Propietario del Sistema</th>
				<th>Fecha LLenado</th>
				<th>Estado de captura</th>
				<th>Estatus en Remedy</th>
				<th>Fecha creación</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="request in requests">
				<td>{{request.Request.remedy_id}}</td>
				<td>{{request.Request.system_name}}</td>
				<td>{{request.Request.system_owner_name}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td><mydate>{{request.Request.created}}</mydate></td>
				<td class="actions">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Acciones<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="btn-xs" href="#/new-request/{{request.Request.remedy_id}}/{{request.Request.next_capture_step}}">Seguimiento</a></li>
							<li><a class="btn-xs" href="#/view-request/{{request.Request.remedy_id}}">Ver</a></li>
						</ul>
					</div>
				</td>
			</tr> 
		</tbody> 
	</table>
</div>