<p>Describir de manera general las funcionalidades del Sistema que se está entregando a producción</p>
<div class="form-group">
	<div class="input textarea required">
		<label for="CustomerRequestFunctionality">Descripción</label>
		<textarea required="required" id="CustomerRequestFunctionality" rows="6" cols="30" maxlength="2000" placeholder="Descripción" class="form-control" ng-model="form.Request.functionality"></textarea>
	</div>
</div><!-- .form-group -->
<script type="text/javascript">
$(function () {
	$('#CustomerRequestForm').removeClass('form-horizontal');
	
	$('textarea#CustomerRequestFunctionality').maxlength({
		alwaysShow: true
	});
}); 
</script>