<div class="form-group" ng-class="{ 'has-error': form_errors.remedy_id != undefined }">
	<div class="input text">
		<label class="col-sm-4 control-label" for="CustomerRequestRemedyId">ID Remedy</label>
		<div class="col-sm-8">
			<input type="text" id="CustomerRequestRemedyId" maxlength="20" class="form-control" ng-model="form.Request.remedy_id">
			<p class="help-block" ng-show="form_errors.remedy_id" ng-repeat="error in form_errors.remedy_id">{{error}}</p>
		</div>
	</div>
</div><!-- .form-group -->

<div class="form-group" ng-class="{ 'has-error': form_errors.system_name != undefined }">
	<div class="input text required">
		<label class="col-sm-4 control-label" for="CustomerRequestSystemName">Nombre del sistema</label>
		<div class="col-sm-8">
			<input type="text"id="CustomerRequestSystemName" maxlength="60" class="form-control" ng-model="form.Request.system_name">
			<p class="help-block" ng-show="form_errors.system_name" ng-repeat="error in form_errors.system_name">{{error}}</p>
		</div>
	</div>
</div><!-- .form-group -->

<div class="form-group">
	<div class="input text required">
		<label class="col-sm-4 control-label" for="CustomerRequestImplementingManagement">Gerencia que implementa</label>
		<div class="col-sm-8">
			<input type="text"id="CustomerRequestImplementingManagement" maxlength="60" class="form-control" ng-model="form.Request.implementing_management">
		</div>
	</div>
</div><!-- .form-group -->
<div class="form-group">
	<div class="input text required">
		<label class="col-sm-4 control-label" for="CustomerRequestSystemOwnerName">Propietario del sistema</label>
		<div class="col-sm-8">
			<input type="text"id="CustomerRequestSystemOwnerName" maxlength="60" placeholder="Área de Negocio" class="form-control" ng-model="form.Request.system_owner_name">
		</div>
	</div>
</div><!-- .form-group -->
<div class="form-group">
	<div class="input text required">
		<label class="col-sm-4 control-label" for="CustomerRequestCustodyOwner">Propietario de la custodia del sistema</label>
		<div class="col-sm-8">
			<input type="text"id="CustomerRequestCustodyOwner" maxlength="45" placeholder="Área Soporte/Operación" class="form-control" ng-model="form.Request.custody_owner">
		</div>
	</div>
</div><!-- .form-group -->
<div class="form-group">
	<div class="input text required">
		<label class="col-sm-4 control-label" for="CustomerRequestDeliveryCharge">Responsable de entrega</label>
		<div class="col-sm-8">
			<input type="text" id="CustomerRequestDeliveryCharge" maxlength="60" class="form-control" ng-model="form.Request.delivery_charge">
		</div>
	</div>
</div><!-- .form-group -->
<div class="form-group">
	<div class="input text">
		<label class="col-sm-4 control-label" for="CustomerRequestModule">Módulo / Servicio</label>
		<div class="col-sm-8">
			<input type="text" id="CustomerRequestModule" maxlength="60" placeholder="Si aplica" class="form-control" ng-model="form.Request.module">
		</div>
	</div>
</div><!-- .form-group -->
<div class="form-group">
	<div class="input text">
		<label class="col-sm-4 control-label" for="CustomerRequestDeleveryDate">Fecha de entrega</label>
		<div class="col-sm-8">
			<input type="text" id="CustomerRequestDeleveryDate" maxlength="45" class="form-control ui-dp" ng-model="form.Request.delevery_date">
		</div>
	</div>
</div><!-- .form-group -->

<p style="padding-left:0px;" class="col-sm-offset-4 col-sm-8">
	Certifico que he leído y que estoy cumpliendo la Política Corporativa de Seguridad de la Información, 
	en el acceso y utilización de los sistemas y aplicaciones  a seleccionar,  
	así como  en el manejo de cualquier información patrimonial de Telefónica y empresas afiliadas.
</p>

<div class="form-group">
	<div style="text-align: center;" class="col-sm-offset-4 col-sm-8">
		<div class="checkbox">
			<label>
				<input type="hidden" value="0" id="CustomerRequestCertify_" name="data[CustomerRequest][certify]"><input type="checkbox" id="CustomerRequestCertify" value="1" class="certify" style="float: none" ng-model="form.Request.Agreement.general_data"> 
				&nbsp;Si, certifico</label>
		</div>
	</div>
</div>
<script type="text/javascript">
	(function($){
		$('#CustomerRequestForm').addClass('form-horizontal');
		$(".ui-dp").datepicker({
	    	dateFormat: 'yy-mm-dd',
	    	minDate: 'today',
			changeMonth: true,
			changeYear: true,
			numberOfMonths: 1
	    });
	})(jQuery);
</script>

