<p>Se debe señalar los componentes existentes en la entrega de solución</p>
<div class="form-group" ng-repeat="resource in infrastructureResources" >
	<div class="input text">
		<label class="col-sm-5 control-label">{{resource.label}}</label>
		<div class="col-sm-offset-3 col-sm-4 switch-{{resource.slug}}">
			<input 
				type="checkbox"
				data-checklist-model="form.Request.Resources"
				data-checklist-value="resource.slug"
				class="switch"
				data-size="small"
			/>
		</div>
	</div>
</div>
<script type="text/javascript">
	$( document ).ready(function() {
		/*
		$('input.switch').bootstrapSwitch({
			//onText: 'Exists', 
			//offText: 'Does not exist',
			//handleWidth: 65
		});
		*/
	});
</script>

<script type="text/javascript">
$( document ).ready(function() {
	/*
	// Switches dependecy
	var soID = appID = DbID = null;
	$.each(<?php echo json_encode($resources);?>, function( index, value ) {
		switch (value) {
		  case "Sistema Opertivos":
				soID = index;
		  case "Aplicativos":
			  	appID = index;
		  case "Bases de datos":
			  	DbID = index;
		}
	});
	
	$('.switch-' + soID).on('switchChange.bootstrapSwitch', function(event, state) {
		if(!state)
		{
			$('.switch-'+appID+' input.switch').bootstrapSwitch('state', false);
			$('.switch-'+DbID+' input.switch').bootstrapSwitch('state', false);
		}
		return false; 
	});

	$('.switch-'+appID+', .switch-'+DbID).on('switchChange.bootstrapSwitch', function(event, state) {
		if(state)
		{
			$('.switch-'+soID+' input.switch').bootstrapSwitch('state', true);
		}
		return false; 
	});
	*/
}); 
</script>