<p>Se debe incluir en el diagrama las direcciones IP de todos los servidores que integran la solución, así como la interrelación con otros sistemas.</p>

<input type="hidden" id="remedy_id" ng-model="form.Request.remedy_id">

<div class="form-group">
	<div class="input file">
		<label for="logic_design">Diseño lógico</label>
		<input type="file" id="logic_design" class="form-control" name="logic_design" ng-model="form.Request.logic_design">
	</div>
</div><!-- .form-group -->

<style>
	.form-control.file-caption.kv-fileinput-caption	{ padding :0; }
</style>

<script type="text/javascript">
$(function () {
	$('#CustomerRequestForm').removeClass('form-horizontal');

	var scope = angular.element($("#remedy_id")).scope();
	
	if(scope.form.Request.logic_design == undefined)
	{
		console.log('undefined logic_design');
		$('div.submit-buttons').hide();
	}
	
	var options = {
		uploadAsync: false,
		uploadUrl: 'http://localhost/cake-mongo-rest/requests/add',
		uploadExtraData: {
			upload_logic_design: true,
			remedy_id: scope.form.Request.remedy_id
		},
		language: 'es',
		previewFileType: "image",
		overwriteInitial: true,
		maxFileCount: 1,
		initialPreviewCount: 1,
		allowedFileExtensions : ['jpg', 'png','gif'],
		browseClass: "btn btn-success",
		browseLabel: 'Pick Image',
		browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
		removeClass: "btn btn-danger",
		removeLabel: 'Delete',
		removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
		uploadClass: "btn btn-info",
		uploadLabel: 'Upload',
		uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
	};

	if(scope.form.Request.logic_design != undefined)
	{
		options.initialPreview = [];
		options.initialPreview.push("<img style='max-width: 700px' src='"+scope.form.Request.logic_design+"' />") 
	}

	$("#logic_design").fileinput(options);

	/*
	<?php if(!$isEditable):?>
		$('#logic_design').fileinput('disable');
	<?php endif;?>
	*/

	$('#logic_design').on('filebatchuploadsuccess', function(event, file, previewId, index, reader) {
		$('div.submit-buttons').show('slow');
	});

	// Removing preloaded images in preview
	$('#logic_design').on('filebatchselected', function(event, files) {
		length = $('.file-preview-thumbnails .file-preview-frame').length;

		$(".file-preview-thumbnails .file-preview-frame").each(function( index ) {
			if((index+1) != length && /uploaded(.*)/.test($(this).attr('id')))
			{
				$(this).remove();		
			}
		});
	});
}); 
</script>