<div class="table-responsive">
	<table cellspacing="0" cellpadding="0" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Tipo</th>
				<th colspan="2">Descripción</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="radio" required="required" value="own_management" class="management-type" ng-model="form.Request.management_type" name="management-type">&nbsp;Administrada por XXXXX &nbsp;
				</td>
				<td colspan="2">El hardware y software es propiedad y responsabilidad de XXXXX, así como las actividades de operación, soporte, supervisión, e ingeniería.&nbsp;</td>
			</tr>
			<tr>
				<td>
					<input type="radio" required="required" value="supplier_management" class="management-type" ng-model="form.Request.management_type" name="management-type">&nbsp;Administrada por el proveedor &nbsp;
				</td>
				<td colspan="2">El hardware y software es propiedad y responsabilidad del proveedor, así como las actividades de operación, soporte, supervisión, e ingeniería. <strong>Es obligatorio anexar a este formato el contrato de adquisición de la plataforma debidamente firmada entre XXXXX y el proveedor.</strong>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<input type="radio" checked="checked" required="required" value="hybrid_management" class="management-type" ng-model="form.Request.management_type" name="management-type">&nbsp;Administración híbrida&nbsp;
				</td>
				<td colspan="2">El hardware y las actividades de operación, soporte, supervisión e ingeniería sobre ésta, son propiedad y responsabilidad de XXXXX; y el software y las actividades de operación, soporte, supervisión, e ingeniería sobre ésta, son propiedad y responsabilidad del proveedor. <strong>Es obligatorio anexar a este formato el contrato de adquisición de la plataforma debidamente firmada entre XXXXX y el proveedor.</strong>&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="4">
					Administrada en la nube	&nbsp;
				</td>
				<td colspan="2">Los modelos de servicio en la nube son:&nbsp;</td>
			</tr>
			<tr>
				<td>
					<input type="radio" required="required" value="saas_management" class="management-type" ng-model="form.Request.management_type" name="management-type">&nbsp;SaaS&nbsp;
				</td>
				<td><strong>Cloud Software as a Service (SaaS).</strong> En el Software de nube como servicio, la capacidad proporcionada al consumidor consiste en utilizar las aplicaciones del proveedor que se ejecutan en una infraestructura de nube. El consumidor no gestiona ni controla la infraestructura de nube.&nbsp;</td>
			</tr>
			<tr>
				<td>
					<input type="radio" required="required" value="pass_management" class="management-type" ng-model="form.Request.management_type" name="management-type">&nbsp;PaaS&nbsp;
				</td>
				<td><strong>Cloud Platform as a Service (PaaS).</strong> En la Plataforma de nube como servicio, la capacidad proporcionada al consumidor es desplegar en la infraestructura de nube aplicaciones adquiridas o creadas por el consumidor, que fueron creadas utilizando lenguajes y herramientas de programación soportadas por el proveedor.  El consumidor no gestiona ni controla la infraestructura de nube, pero tiene control sobre las aplicaciones desplegadas y la posibilidad de controlar las configuraciones de entorno del hosting de aplicaciones.&nbsp;</td>
			</tr>
			<tr>
				<td>
					<input type="radio" required="required" value="iaas_management" class="management-type" ng-model="form.Request.management_type" name="management-type">&nbsp;IaaS&nbsp;
				</td>
				<td><strong>Cloud Infraestructure as a Service (IaaS).</strong> En la Infraestructura de nube como servicio, la capacidad suministrada al consumidor es abastecerse de procesamiento, almacenamiento, redes y otros recursos computacionales fundamentales de forma que el consumidor pueda desplegar y ejecutar software arbitrario, que puede incluir sistemas operativos y aplicaciones. El consumidor no gestiona ni controla la infraestructura de nube subyacente.&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div><!-- /.table-responsive -->