<!--
<button class="add-server btn btn-large btn-success" type="button" ng-click="{{addButton.action}}"><span class="fa fa-plus fa-fw"></span>Agregar 2 {{addButton.action}}</button>
-->

<div class="table-responsive">
	<table id="soTable" cellpadding="0" cellspacing="0" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Hostname</th>
				<th>Name in catalog</th>
				<th>OS Type</th>
				<th>Distribution</th>
				<th>Version</th>
				<th>Environment</th>
				<th class="actions">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="server in form.Request.Servers">
				<td>{{server.ip_address}}&nbsp;</td>
				<td>{{server.hostname}}&nbsp;</td>
				<td>{{server.element_name}}&nbsp;</td>
				<td>{{server.operative_system}}&nbsp;</td>
				<td>{{server.distribution}}&nbsp;</td>
				<td>{{server.os_version}}&nbsp;</td>
				<td>{{server.environment}}&nbsp;</td>
				<td class="actions">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Actions<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="btn-xs" ng-click="modifyServerBox('{{form.Request.remedy_id}}', '{{server._id}}')">Editar</a></li>
							<li><a class="btn-xs" ng-click="deleteServerBox('{{form.Request.remedy_id}}', '{{server._id}}')">Eliminar</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div><!-- /.table-responsive -->

<script type="text/javascript">
$(function () {
	$('.actions .dropdown-menu a').click(function (e) {
	  e.preventDefault();
	});
}); 
</script>