<div style="display:table-cell; padding-right: 20px;">
	<div class="submit"><input type="submit" value="Guardar y continuar" class="continue btn btn-large btn-primary"></div>
</div>
<div style="display:table-cell">
	<div class="submit"><input type="submit" value="Guardar como borrador" class="draft btn btn-large btn-primary" ng-click="redirectIndex()"></div>
</div>